<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marjeyoun.jdeidetmarjeyoun">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:configChanges="locale|orientation"
        android:theme="@style/AppTheme">

        <activity android:name=".loading.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"></activity>

        <activity android:name=".event.Events_Activity"></activity>

        <activity android:name=".signup.SignupActivity"></activity>

        <activity android:name=".language.SelectLanguageActivity"></activity>

        <activity android:name=".event.EventDetailsActivity"></activity>

        <activity android:name=".news.News_Activity"></activity>

        <activity android:name=".news.NewsDetailsActivity"></activity>

        <activity android:name=".death.Deaths_Activity"></activity>

    </application>

</manifest>